/* MODAL STYLING */
#closeModalBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:  hsl(270, 100%, 60%);
    color: #fff;
    border: none;
    border-radius: 50%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding-top: 60px;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* SEARCH BAR STYLING */
.search-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 20px;
    text-align: center;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.main-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkviolet;
}
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.search {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}
.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    background-color: #ccc;
}
.card > .header {
    margin-bottom: .25rem;
}
.card > .body {
    font-family: Arial, sans-serif;
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.footer {
    margin-top: 400px;
    text-align: center;
    font-size: 14px;
    color: hsl(270, 100%, 60%);
}