.search-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 20px;
    text-align: center;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.main-heading {
    font-size: 24px;
    margin-bottom: 20px;
}
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.search {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}
.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
    background-color: #ccc;
}
.card > .header {
    margin-bottom: .25rem;
}
.card > .body {
    font-family: Arial, sans-serif;
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.footer {
    margin-top: 400px;
    text-align: center;
    font-size: 14px;
    color: hsl(270, 100%, 60%);
}